#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    display: none;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    /*height: 100%;*/
    margin-left: -250px;
    overflow-y: auto;
    background: rgba(223, 131, 131, 0.589);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media (max-width: 767px) {
    #wrapper.toggled #sidebar-wrapper {
        width: 60%;
        left: 0;
    }
    #wrapper.toggled #page-content-wrapper {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sidebar-wrapper {
        display: block;
        width: 60%;
        left: none;
        padding: 0;
        font-size: 16px;
    }
    .sidebar-items {
        padding-top: 40px;
        padding-bottom: 10px;
        margin: 0;
        list-style: none;
    }
    .sidebar-items li {
        margin-bottom: 10px;
    }
    #wrapper.toggled #page-content-wrapper {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sidebar-wrapper {
        display: block;
        width: 60%;
        left: none;
        padding: 0;
        font-size: 16px;
    }
    .sidebar-items {
        padding-top: 40px;
        padding-bottom: 10px;
        margin: 0;
        list-style: none;
    }
    .sidebar-items li {
        margin-bottom: 10px;
    }
    #wrapper.toggled #page-content-wrapper {
        margin-left: 0;
    }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media(max-width:360px) {
    #sidebar-wrapper {
        display: block;
        width: 65%;
        left: none;
        padding: 0;
        font-size: 16px;
    }
    .sidebar-items {
        padding-top: 40px;
        padding-bottom: 10px;
        margin: 0;
        list-style: none;
    }
    .sidebar-items li {
        margin-bottom: 10px;
    }
    #wrapper.toggled #page-content-wrapper {
        margin-left: 0;
    }
}

@media(max-width:425px) {
    .closebtn-sidebar {
        position: fixed;
        top: 10px;
        left: 62% !important;
        font-size: 36px !important;
        font-weight: bold;
    }
}

.closebtn-sidebar {
    position: fixed;
    top: 10px;
    left: 260px;
    font-size: 36px !important;
    font-weight: bold;
    background: #c2956e;
    width: 50px;
    height: 40px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

.closebtn-sidebar:hover {
    color: rgb(206, 200, 199);
    text-decoration: none !important;
}