*,
*::before,
*::after {
    box-sizing: border-box;
}

.instacard {
    position: absolute;
    padding: 10px;
    left: 11em;
    bottom: 31em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.instagram-media {
    background: #FFF;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    margin: 1px;
    padding: 0;
    width: 99.375%;
    width: -webkit-calc(100% - 2px);
    width: calc(100% - 2px);
}

@media screen and (max-width: 768px) {
    .instacard {
        left: 2em;
        bottom: 35em;
        margin: -11px;
    }
    .instagram-media.instagram-media-rendered {
        min-width: 50px !important;
        width: 310px !important;
        height: 470px !important;
    }
}

@media screen and (min-width: 1024px) {
    .instagram-media.instagram-media-rendered {
        min-width: 400px !important;
    }
    .instacard {
        bottom: 30em;
    }
}