*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.youtube {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 500px;
    height: 410px;
    position: absolute;
    bottom: 70%;
    left: -48%;
    z-index: 1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.youtube-image {
    width: 100%;
    padding: 0.3em;
}

.mobile {
    left: 4%;
    height: fit-content;
    width: 12em;
}

.frame-mobile {
    height: fit-content;
}